.btn-stage:focus{
    background-color: #192F59;
    color: white;
}

.btn-stage:focus:hover{
    background-color: #192F59;
    color: white;
}

.date{
    font-weight: bold;
    margin-right: 100px;
}

.main-card{
    border: thick solid #192F59;
}

.bold{
    font-weight: bold;
}


